# Ignore everything
/*

# Recursively allow files under subtree
!/.git/
!/src/
!/gradle/


# Allow these files
!.gitignore
!LICENSE
!README.md
!IDEA.md
!build.gradle
!gradle.properties
!gradlew
!gradlew.bat
